<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Samantha Bitonti", root_path, class: "brand" %>
    <ul class="nav-links">
      <li class="nav-link"><%= link_to "About", about_path %></li>
      <li class="nav-link"><%= link_to "Work", projects_path %></li>
      <li class="nav-link"><%= link_to "Media", '#' %></li>
      <li class="nav-link"><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</div>
