<div class="contact-container">
  <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "contact-form" do |form| %>
    <div class="form-group">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :subject, "Subject" %>
      <%= form.text_field :subject, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :message, "Message" %>
      <%= form.text_area :message, class: "form-control" %>
    </div>

    <%= form.submit "Whoosh", class: "submit", onclick: "event.preventDefault(); document.getElementById('button-sound').play(); this.form.submit();" %>
  <% end %>

    <audio id="button-sound" src="/sounds/whoosh.wav"></audio>
</div>
