<div id="<%= dom_id project %>" class="project">

  <% if project.image.attached? %>
    <%= cl_image_tag project.image.key, class: "project-image" %>
  <% elsif project.project_type == "Voice" && project.link.include?("youtube") %>
    <%= image_tag project.youtube_thumbnail, class: "project-image" %>
  <% elsif project.project_type == "Voice" %>
    <%= image_tag "headphones.jpg", class: "project-image" %>
  <% else %>
    <%= image_tag project.youtube_thumbnail, class: "project-image" %>
  <% end %>

  <h3 class="project-title">
    <%= project.title %>
  </h3>

  <p class="project-description">
    <%= project.description %>
  </p>
</div>
