<div id="<%= dom_id photo %>" class="photo <%= photo.photo_type == "Portrait" || photo.orientation == 'portrait' ? "portrait-photo" : "landscape-photo" %>">
  <%= cl_image_tag photo.image.key, class: "photo-image" %>
  <div class="photo-text">
    <% if photo.photo_type == "Portrait" %>
      <p class="photo-description"><%= photo.description %></p>
    <% else %>
      <p class="photo-title"><%= photo.title %></p>
      <p class="photo-description"><%= photo.description %></p>
    <% end %>
  </div>
</div>
