<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div class="<%= @photo.photo_type == "Portrait" || @photo.orientation == 'portrait' ? "portrait-photo" : "landscape-photo" %> modal-content">
      <%= cl_image_tag @photo.image.key, class: "modal-item" %>
      <%= link_to "#", data: {
        controller: "modals",
      action: "modals#close"
      }, class: "close-button" do %>
        <%= image_tag "close.png" %>
      <% end %>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= link_to "Edit this photo", edit_photo_path(@photo), data: { turbo_frame: "_top" } %> |
          <%= button_to "Delete this photo", @photo, method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
