<!DOCTYPE html>
<html>
  <head>
    <title>Samantha Bitonti</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "components/flash_messages" %>
    <%= turbo_frame_tag "modal" %>
    <%= render "components/navbar" %>
    <% unless current_page?(root_path) %>
      <%= render "components/page_banner" %>
      <div class="page-container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render "components/footer" %>
  </body>
</html>
